/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-image: url("https://source.unsplash.com/2000x900/?landscape");
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;  
    background-size: cover;
}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border-radius: 5px;
}

button:hover {
    background-color: #102f5e;
    color: #fff;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, 
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

/* Todo header */
.todo-container {
    max-width: 450px;
    margin: 3rem auto ;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 8px;
    border: 2px solid;
}

header h1 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.todo-container header {
    text-align: center;
    padding: 1rem 1rem 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #102f5e;
    border-radius: 8px;
}

/* Todo Form */
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#todo-input, #edit-input {
    width: 90%;
}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
    width: 100%;
    
}

/* To do toolbar */
#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem;
}

#search {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;   
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

/* To do List */
.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.todo h3 {
    flex: 1;    
}

.todo button {
    margin-left: 0.4rem;
}

.done {
    background-color: #395169;
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}



